.navbar {
  --top-margin: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  z-index: 1000;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: center;
  background-color: white;
  align-items: center;
  color: var(--text-color);
  border-radius: 0 0 20px 20px;
  transition: box-shadow .2s ease-in-out;
}

.navbar .logo {
  font-weight: 600;
  font-size: 35px;
  margin-right: 30vw;
}

.navbar .logo:active {
  opacity: var(--active-opa);
}

.navbar .logo span {
  color: var(--primary);
}


.navbar .wrapBtn {
  display: flex;
}

.navbar .wrapBtn div {
  margin-left: 45px;
  font-size: 18px;
  font-weight: 500;
}

.navbar .wrapBtn div:hover {
  color: var(--primary);
}

.navbar .wrapBtn .active {
  color: var(--primary);
}

.stick {
  box-shadow: 0 0 10px #aaaaaa50;
}