:root {
  --primary: #124b92;
  --text-color: #3a3a3a;
  --text-light: #fff;
  --bg-white: #ffffff;
  --bg-dark: #f6f8f7;
  --box-border: 1px solid #7b90aa80;
  --box-border-2: 2px solid #7b90aa80;
  --box-shadow: 0px 0px 15px 0px #0f233c26;
  --corner-1: 15px;
  --corner-2: 10px;
  --corner-3: 5px;
  --active-opa: 0.65;
  --line-height: 155%;
  /* --xxl: 1400px; */
  /* --xl: 1200px; */
  /* --lg: 992px; */
  /* --md: 768px; */
  /* --sm: 576px; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: -webkit-fill-available;
}

* {
  font-family: var(--font);
}

.full_page {
  width: 100%;
  height: calc(100vh - 120px);
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-style-hlink {
  color: unset;
  text-decoration: none;
}

span {
  color: var(--primary);
}